@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@200;300;400;500&family=Roboto:wght@500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    --color-first: white;
    --color-light: white;
    --trans: rgba(162, 79, 235, 0.8);
    /* --second: #B54007; */
    --color-dark: black;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.max {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/* ----------------------Nav Bar----------------------- */
.navbar {
    position: fixed;
    padding: 30px 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease;
    z-index: 999;
}

.navbar.sticky {
    background: rgba(0, 0, 0, 0.72);
    padding: 10px 0;
}

.navbar .max {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 33px;
    font-weight: 600;
    color: white;
    transition: all 0.5s ease;
}

.navbar .logo a span {
    color: hsl(181, 100%, 44%);
    /* transition: all 0.5s ease; */
}

.navbar.sticky .logo a span {
    color: white;
}

.navbar.sticky .logo a {
    color: hsl(181, 100%, 44%);
    font-size: 20px;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;

}

.navbar .menu li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    transition: all 0.5s ease;
}

.navbar.sticky .menu li a {
    color: white;
    font-size: 15px;
    margin-left: 30px;
}

.navbar .menu li a:hover {
    color: #e6a33d;
    border-bottom: 1px solid white;
}

.navbar.sticky .menu li a:hover {
    color: #e6a33d;
    border-bottom: 1px solid whitesmoke;
}

/* ----------------------------- SECTION -------------------------------- */

section {
    padding: 75px 0;
}

section .title {
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1;
    text-align: left;
    font-size: 30px;
    margin-bottom: 60px;
    font-weight: 600;
    padding-bottom: 20px;
    position: relative;
    margin-top: 60px;
}

.contact,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .acont,
.contact .ccont,
footer .fcont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact {
    background: url('imgs/bgg.jpeg');
    background-size: cover;
    background-position-y: 50%;
    height: 100vh;
}

.contact .ccont {
    margin-bottom: 70px;
}

.contact .ccont .col {
    width: calc(50%-30px);
}

.contact .ccont .text {
    font-size: 25px;
    font-weight: 600;
    color: #f1f1f1;
}

.contact .ccont .right img {
    height: 100%;
    width: 573px;
    object-fit: cover;
    margin-left: 60px;
    /* margin-top: 50px; */
}

.contact .left form .fields {
    display: flex;
}

.contact .left form .fields .field {
    height: 50px;
    width: 500px;
    margin-bottom: 15px;
}

.contact .left form .message {
    height: 100px;
}

.contact .left form .name {
    margin-left: 0px;
}

.contact .left form .email {
    margin-right: 0px;
}

.contact .left form .field input {
    border-radius: 30px;
}

.contact .left form .field input,
.contact .left form .message textarea {
    height: 100%;
    width: 500px;
    border: 0px solid var(--color-light);
    outline: none;
    padding: 12px 10px;
    font-size: 12 px;
    font-family: 'Montserrat', sans-serif;
    background: rgba(255, 255, 255, 0.3);
}

.contact .left form .message textarea {
    border-radius: 20px;
}

.contact .left form .field input::placeholder,
.contact .left form .message textarea::placeholder {
    color: var(--color-light);
    font-size: 15px;
    padding: 7px;
}

.contact .left form .submit {
    height: 45px;
    width: 100%;
    margin-top: 20px;
}

.contact .left form .submit button {
    width: 100%;
    height: 100%;
    border: 0px solid var(--color-light);
    border-radius: 30px;
    background: rgb(255, 255, 255, 0.9);
    padding: 6px;
    color: var(--color-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .left form .submit button:hover {
    color: rgb(255, 255, 255);
    border-color: transparent;
    background: rgb(230, 163, 61);
}

/* ------------------------- FOOTER --------------------------- */
.footer_bg {
    background-color: black;
    padding: 78px 0 3px;
}

.footer_title {
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer_subtitle {
    font-size: 18px;
    margin-bottom: 6px;
}

.footer_links {
    display: flex;
    display: inline-block;
    line-height: 40px;
    list-style: none;
    text-align: justify;
    margin-right: 100px;
}

.footer_link:hover {
    color: #b1b1b1;
}

.footer_social {
    font-size: 1.25rem;
    margin-right: 15px;
}

.footer_social:hover {
    color: #b1b1b1;
}

.footer_copy {
    font-size: 12px;
    text-align: center;
    color: rgb(150, 150, 150);
    margin-top: 60px;
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_social {
    color: #fff;
}